/* dies sind die wichtigen Styles:

html, body
  margin: 0
  padding: 0
  max-width: 900px 	
  width: 100%
  height: 100%
  overflow: hidden

#hintergrund
  background-image: url("../img/street.jpg")
  background-repeat: no-repeat
  background-size: cover
  position: absolute
  z-index: 1
  width: 100%
  height: 100%

.background
  width: 100%
  height: 100%
  background: rgba(9, 53, 73, 0.78)

#content  
  background-image: url(../img/clock.gif)
  background-size: cover
  background-repeat: no-repeat
  position: absolute
  width: 5%
  height: 5%
  top: 10%
  left: 30%
  padding: 20% 20%
  margin: 2% 2%
  z-index: 2

.inhalt  
  position: absolute 
  font-weight: 100
  line-height: 2.3
  top: 15%
  left: 20%
  z-index: 10
  h3
    font-family: Futura 
    color: white
    font-size: 1.8em
    text-align: center
  h2
    color: white
    font-size: 2.8em
    text-align: center  


/* nur f�r das Aussehen, kann ver�ndert werden:

body
  font-family: arial, sans-serif
  font-weight: bold
  //color: #900