/* dies sind die wichtigen Styles:

html, body
  margin: 0
  padding: 0  
  width: 100%
  height: 100%
  //overflow: hidden

section  
  width: 100%
  height: auto
  position: relative        
  //box-shadow: 0px 2px 10px rgba(0,0,0,0.1)

  .container
    position: relative
    min-height: 90vh
    display: flex
    align-items: center
    justify-content: center
    background-image: linear-gradient(to bottom, rgba(9, 53, 73, 0.78) 50%, rgba(9, 53, 73, 0.78) 100%), 
    url("../img/street.jpg")
    background-size: cover        
 
  #content  
    background-image: url(../img/clock.gif)
    background-size: contain
    background-repeat: no-repeat
    position: relative    
    width: 555px
    height: 610px
    margin: 12px auto 
    padding: 7% 5%    
    font-weight: 100
    line-height: 2.3
    z-index: 2
    h3      
      font-weight: bold
      text-transform: uppercase
      letter-spacing: 0.2em
      color: white
      font-size: 2.5em 
      text-align: center
    h2
      
      color: white
      font-size: 4.5em
      text-align: center  

  .content-scroll
    position: absolute
    top: 85%  
    height: 15%
    width: 100%    

  .icon-scroll
    position: absolute
    left: 50%
    top: 21%
    transform: translateX(-50%)
    &::before
      position: absolute
      left: 50%
      transform: translateX(-50%)
      content: ''
      width: 8px
      height: 8px
      background: #FFF
      margin-left: -4px
      top: 15px
      border-radius: 50%
      animation: 1.5s scroll cubic-bezier(0.65, -0.55, 0.25, 1.5) infinite
    width: 40px
    height: 70px
    border: 2px solid #FFF
    border-radius: 25px
    cursor: pointer
    bottom: 2rem

@keyframes scroll
  0%
    opacity: 0
    transform: translateY(0) scale(0.5)

  10%
    opacity: 1
    transform: scale(1)

  100%
    opacity: 0
    transform: translateY(30px) scale(0.5)

article  
  background: #fff
  font-family: 'Lato', sans-serif
  color: #0E2E47
  text-align: center
  