<!DOCTYPE html>
html(lang="en")
head
  title DevTips Starter Kit
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="./assets/img/favicons/favicon.ico")
  link(rel="stylesheet", href="assets/css/main.css")
body
  section
    .container 
      .header
        .logo         
        .navbar             
          ul
            li: a(href="") Home 
            li: a(href="") Home 
            li: a(href="") Home 
            li: a(href="") Home 

      #content                
        h3 Our New Site is 
        h2 
          | Comming 
        h2
          | Soon
        h3 Stay Tuned     
 
    .content-scroll  
      .icon-scroll
  section
    article
      .wrapper
        .huge
          h2 About Us       
          p 
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            | Maxime vel tempore blanditiis magnam repudiandae veritatis placeat atque eos. 
            | Explicabo consectetur facere sequi deserunt voluptatem dolorum similique quisquam placeat harum ea.
  section  
    article
      .wrapper
        form(action='#' method='post' name='sign up for beta form')
          .huge
            h2 Sign Up For Beta         
            p
              | Milkshake is almost ready. If you&apos;re interested in testing it out, then sign up below to get exclusive access.
          .input
            input#email.button(type='text' name='email' placeholder='NAME@EXAMPLE.COM')
            input#submit.button(type='submit' value='SIGN UP')
  footer
    .footer-nav
      img(src="../assets/img/footer-logo.svg", alt="")
      nav
        ul
          li: a(href="") Home 
          li: a(href="") Home 
          li: a(href="") Home 
          li: a(href="") Home 
  .footer-end        


      p| Das ist ein Test
  script(src="./vendors/jquery/dist/jquery.min.js")
  script(src="./assets/js/app.js")
