<!DOCTYPE html>
html(lang="en")
head
  title DevTips Starter Kit
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="./assets/img/favicons/favicon.ico")
  link(rel="stylesheet", href="assets/css/main.css")
body
  section
    .container 
      #content
        h3 Our New Site is 
        h2 
          | Comming 
        h2
          | Soon
        h3 Stay Tuned     
 
    .content-scroll  
      .icon-scroll
  section
    article
      .col1
        h2 About Us       
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          |Maxime vel tempore blanditiis magnam repudiandae veritatis placeat atque eos. 
          |Explicabo consectetur facere sequi deserunt voluptatem dolorum similique quisquam placeat harum ea.
  section
    article
      .col2
        h2 Get in Touch      
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          |Maxime vel tempore blanditiis magnam repudiandae veritatis placeat atque eos. 
          |Explicabo consectetur facere sequi deserunt voluptatem dolorum similique quisquam placeat harum ea.       
  script(src="./vendors/jquery/dist/jquery.min.js")
  script(src="./assets/js/app.js")
